<h1> Edit the repo </h1>

<%= form_for repo do |f| %>
  <% repo.errors.full_messages.each do |msg| %>
    <li class="list-group-item"><%= msg %></li>
  <% end %>
  <fieldset>
    <div class="field">
      <%= f.label :owner, class: "col-md-2 control-label" %>
      <%= f.text_field :owner %>
    </div>
    <div class="field">
      <%= f.label :name, class: "col-md-2 control-label" %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :short_name, class: "col-md-2 control-label" %>
      <%= f.text_field :short_name %>
    </div>
    <div class="field">
      <%= f.submit "Save" %>
    </div>
  </fieldset>
<% end %>