<% if current_user %>
  <div class="row">
    <div class="col-md-12">
      <%= form_for current_user, url: user_path, remote: true do |f|%>
        <fieldset>
          <div class="field">
            <%= f.label "Enter your integration token below:", class: "col-4 control-label" %><br/>
            <p>You can find your token in the integration configuration page from slack</p>
            <p>Make sure your outgoing webhook is posting to http://git-issue-slack-integration.herokuapp.com/issue</p>
            <%= f.text_field :integration_token %>
            <%= f.submit "update token" %>
          </div>
        </fieldset>
      <% end %>

      <div class="panel-group" id="repos">
        <h2>Added Repos</h2>
        <% @repos.each do |r| %>
          <%= render partial: 'row', locals: {r: r} %>
        <% end %>
      </div>

      <p>
        <%= link_to "Add a new repo", new_repo_path, remote: true, class: "btn-sm btn-primary" %> or choose from below
      </p>

      <div class="panel-group" id="org-section">
        <h2>Organizations</h2>
        <% @organizations.each do |org| %>
          <div class="panel panel-default" id="<%= org['login'] %>" >
            <div class="panel-heading" data-toggle="collapse" data-parent="#org-section" data-target="#collapse-<%= org['login'] %>">
              <h4 class="panel-title">
                <a href="#javascript;"><%= org['login'] %></a>
              </h4>
            </div>
            <div id="collapse-<%= org['login'] %>" class="panel-collapse collapse">
              <div class="panel-body">
                <% @org_repos[org['login']].each do |repo| %>
                  <% unless current_user.repos.find_by_owner_and_name(org['login'],repo['name']) %>
                    <div class="panel panel-default <%= repo['name'] %>">
                      <div class="panel-body">
                        <%= repo['name'] %>
                        <div class="action pull-right">
                          <%= link_to "Add", new_repo_url(repo: {owner: org['login'], name: repo['name']}),  remote: true, class: "btn-sm btn-primary" %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="panel-group" id="<%= @user_repos.first['owner']['login'] %>">
        <h2>User Repos</h2>
        <% @user_repos.each do |repo| %>
          <% unless current_user.repos.find_by_owner_and_name(repo['owner']['login'],repo['name']) %>
            <div class="panel panel-default <%= repo['name'] %>">
              <div class="panel-heading">
                <%= repo['name'] %>
                <div class="action pull-right">
                  <%= link_to "Add", new_repo_url(repo: {owner: repo['owner']['login'], name: repo['name']}),  remote: true, class: "btn-sm btn-primary" %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
  <div class="modal fade" id="repo-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
<% else %>
  <%= link_to "Sign in with Github", "/auth/github" %>
<% end %>